@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
	text-align: center;
	font-family: arial;
	background: #0f1124;
	color: #fff;
	margin: 0 0 100px 0;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #1a1d3a;
}

::-webkit-scrollbar-thumb {
	background: #373d6e;
	border-radius: 10px;
}

body > header {
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
}

body > header > h1 {
	font-size: 30px;
	margin: 0;
	cursor: pointer;
}

body > header > input#searchBar {
	width: 40%;
	height: 40px;
	border-radius: 5px;
	border: none;
	padding: 0 10px;
	margin: 0;
	background: #1a1d3a;
	color: #fff;
}

body > header > input#searchBar::placeholder {
	color: #fff;
}

body > header > input#searchBar:focus {
	outline: none;
}

body#player > iframe {
	width: 80vw;
	height: 45vw;
	border: none;
	border-radius: 10px;
	box-shadow: 20px 20px 60px #25283f, -20px -20px 60px #25283f;
}

body > sidebar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: calc(100vh - 20px * 2); /* 20px = padding */
	background: #1a1d3a;
	color: #fff;
	padding: 20px;
	transition: 0.5s;
	z-index: 999;
}

body > sidebar > h2 {
	font-size: 30px;
}

body > sidebar > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 30vh;
	overflow-y: scroll;
}

body > sidebar > ul#searchResult {
	bottom: 60px;
}

body > sidebar > ul#labelList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

body > sidebar > ul#labelList > li {
	background-color: #0f1124;
	backdrop-filter: blur(20px);
	width: fit-content;
	padding: 5px 30px;
	border-radius: 5px;
	border: solid #000 1px;
}

body > sidebar > ul#labelList > li:hover {
	transform: scale(1.04);
	transition: 0.5s;
	box-shadow: 20px 20px 60px #151d64, -20px -20px 60px #151d64;
}


body > sidebar > ul > li {
	margin: 10px 0;
	text-align: left;
	cursor: pointer;
}


body > main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	justify-content: center;
}

/* movie object */
body > main > div.movie {
	background: #0f1124;
	border-radius: 10px;
	margin: 20px;
	box-shadow:  20px 20px 60px #1a1d3a, -20px -20px 60px #1a1d3a;
	cursor: pointer;
}

body > main > div.movie:hover {
	transform: scale(1.04);
	transition: 0.5s;
	box-shadow: 20px 20px 60px #151d64, -20px -20px 60px #151d64;
}

body > main > div.movie > img {
	width: 90%;
	margin: 5%;
	border-radius: 10px;
}

body > main > div.movie > p {
	font-size: 10px;
}