@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
	text-align: center;
	font-family: arial;
	background: #fff;
	margin: 0 0 100px 0;
	overflow-x: hidden;
}

button {
	border: solid 1px #fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 20px;
}

button:hover {
	border: solid 1px #000;
}

#return {
	cursor: pointer;
	margin: 20px auto;
	color: #000;
	text-decoration: none;
}

#input {
	width: 100vw;
	justify-content: start;
	display: flex;
}

#input > input {
	padding: 0;
	border: solid 1px #000;
	border-radius: 5px 5px 0 0;
	width: 20vw;
	margin: 20px 10vw 5px;
}

#suggestion2, #suggestion {
	width: 20vw;
	margin: 0 10vw;
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: space-around;	
	border: solid #000 1px;
	border-radius: 0 0 10px 10px;
	z-index: 9999999;
	background-color: rgb(255 255 255 / 50%);
	backdrop-filter: blur(5px);
}

#suggestion > a, #suggestion2 > a {
	margin: 5px auto;
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

#suggestion > a:hover, #suggestion2 > a:hover, #return:hover {
	text-decoration: underline #000;
}

#section > a, #section > .sous-section > a {
	color: #000;
	text-decoration: none;
	cursor: default;
	margin: 6vw 3vw 0 3vw;
}

#section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sous-section {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: #fff;
}

iframe {
	width: 80vw;
	height: 65vh;
	margin: 50px 10vw;
	border: solid 1px #000;
	border-radius: 10px;
	overflow: hidden
}

img {
	width: auto;
	height: 14vw;
	border: solid #000 3px;
	border-radius: 7px;
	cursor: pointer;
	transition: all 100ms;
	min-width: 135px;
}

h3 {
	font-size: 20px;
	margin: auto;
	width: 14vw;
	text-align: center;
}

img:hover {
	transform: scale(1.1) translateY(-10px);
}

@media only screen and (max-width: 1200px) {
	img {
		margin-top: 10vw;
	}
}

@media only screen and (max-width: 1000px) {
	img {
		margin-top: 15vw;
	}
}
